#cloud-config
hostname: ${hostname}
manage_etc_hosts: true
ssh_pwauth: true
users:
  - name: n0id3a
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin
    shell: /bin/bash
    lock_passwd: false
    ssh_authorized_keys:
      - ${pub_key}
chpasswd:
  list: |
    n0id3a:${admin_password}
  expire: False